<!-- Форма поиска -->

<form class="search-form" id="search-form">
  <input
    class="input-form"
    type="text"
    name="searchQuery"
    autocomplete="off"
    placeholder="Search images..."
  />
  <button class="btn-search" type="submit">Search</button>
</form>

<!-- Галерея и карточка изображения -->

<div class="gallery">
  <!-- Карточки изображений -->
</div>

<!-- Пагинация -->
<div class="load-more-container">
  <button type="button" class="load-more is-hidden">Load more</button>
</div>